[submodule "llvm-analysis"]
	path = llvm-analysis
	url = https://github.com/noughtmare/llvm-analysis.git
[submodule "llvm-pretty-referential"]
	path = llvm-pretty-referential
	url = https://github.com/noughtmare/llvm-pretty-referential.git
[submodule "foreign-inference"]
	path = foreign-inference
	url = https://github.com/noughtmare/foreign-inference.git
[submodule "iiglue"]
	path = iiglue
	url = https://github.com/noughtmare/iiglue.git
